$brand-color: #fc3;
a {
color: $brand-color;
}
nav {
background-color: $brand-color;
}


$font-sans: "Proxima Nova", "Helvetica Neue",Helvetica, Arial, sans-serif;

// font-size:$helvetica_default_size + 1  is also possible +/- is working 
